body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #DDA3B2;
}

#gameCanvas {
    border: 2px solid #fff;
    background-color: #E3C5BB;
}

#score {
    color: white;
    font-size: 2em;
    margin: 10px 0;
}
#controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 200px; /* Ensures the layout is consistent */
}

.control-btn {
    padding: 20px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #34495e;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Consistent height for all buttons */
    width: 60px; /* Consistent width for all buttons */
}

.control-btn:hover {
    background-color: rgba(255, 255, 255, 1);
  


.control-btn {
    padding: 20px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #34495e;
    border-radius: 5px;
    cursor: pointer;
}

#startGameJimin {
    background-color: #F374AE;
    color: #fff;
    font-size: 20px;
    height: 60px;
    width: 180px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
