body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #DDA3B2;
}

#gameCanvas {
    border: 2px solid #fff;
    background-color: #E3C5BB;
}

#score {
    color: white;
    font-size: 2em;
    margin: 10px 0;
}

#controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 200px;
    justify-items: center;
}

.control-btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    color: #34495e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-btn:hover {
    background-color: rgba(255, 255, 255, 1);
}

#startGameJimin {
    margin-top: 20px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    background-color: #F374AE;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

#downBtn {
    grid-column: 2; /* Center the down button */
}

/* Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    overflow: auto; /* Enable scroll if needed */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Modal content */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Can be changed as needed */
    max-width: 500px; /* Maximum width of the modal */
    text-align: center;
    position: relative; /* Allow positioning of the close button */
}

/* Close button */
.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Close button for the modal content */
#closeModalBtn {
    background-color: #F374AE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeModalBtn:hover {
    background-color: #e25698;
}

/* Game Over message and GIF styling */
.jimin {
    max-width: 100%;
    margin-top: 10px;
    max-height: 250px;
}


.modal {
    position:absolute;
}
